*{
    margin:0;
    padding: 0;

}

/* Variáveis */
:root {
    --fgcolor: #383838;
    --nav_color: pink;

    --moblie_bg_color: #c6e5b1;
    --mobile_p_font_size: 20pt;
    --mobile_h1:25pt;

    --tablet_bg_color:#cca9dd;
    --tablet_font_size: 18pt;
    --tablet_h1:22pt;

    --desktop_font_size: 14pt;
    --desktop_bg_color:#f0f0f0;
    --desktop_h1:20pt;
}

/* Reset */
html, 
body {
    height: 100%;
}

/* Text */
header h1 {
    text-align: center;
}

/* Geral */
nav ul {
    list-style: none;
    padding: 0;
}

/* Card */
.card {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    margin: 10px;
    box-shadow: 1px 3px 2px rgb(255, 182, 193); 
    background-color: #fff; /* Fundo branco dos cards */
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0,0,0,0.3); 
}

.card-img {
    width: 100px; 
    height: 100px;
}


/* Mobile */
#galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-color: var(--moblie_bg_color) ;
}

nav ul li {
    cursor: pointer;
    background-color: var(--nav_color);
    color: var(--fgcolor);
    border-radius: 30px;

    padding: 10px;
    margin: 10px; 

    font-size: var(--mobile_p_font_size);
    font-weight: bold;
    text-align: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    gap: 0;
}
p {
    font-size: var(--mobile_p_font_size);
}
h1{
    font-size: var(--mobile_h1);
}

/*TABLET*/
@media screen and (min-width: 768px) {
    #galeria {
        display: flex;
        flex-wrap: wrap; /* Permite que os cards "quebrem" para a linha de baixo */
        justify-content: center;
        flex-direction: row; /* Alinha os cards em linha */
        align-items: center;
    }

    body{
        background-color: var(--tablet_bg_color);
    }

    nav ul li {
        cursor: pointer;
        background-color: var(--fgcolor);
        color: var(--nav_color);
        border-radius: 30px;
    
        padding: 10px;
        margin: 10px; 
    
        font-size: var(--tablet_font_size);
        font-weight: bold;
        text-align: center;
    }
    p {
        font-size: var(--tablet_font_size);
    }
    h1{
        font-size: var(--tablet_h1);
    }
    
}

/* DESKTOP*/
@media screen and (min-width: 1200px) {
    #galeria {
        display: flex;
        flex-wrap: wrap; /* Permite que os cards "quebrem" para a linha de baixo */
        justify-content: space-around;
        flex-direction: row; /* Alinha os cards em linha */
    }
    body{
        background-color: var(--desktop_bg_color)
    }
    nav{
        background-color: pink;
        border-radius: 30px;
        margin:15px;
    }
    nav ul{
        display:flex;
        justify-content: space-around;
        padding: 15px;
    }

    nav ul li {
        cursor: pointer;
        background-color: var(--nav_color);
        color: var(--fg_color);
     
        font-size: var(--desktop_font_size);
        font-weight: bold;
        text-align: center;
    }
    p {
        font-size: var(--desktop_font_size);
    }
    h1{
        font-size: var(--desktop_h1);
    }
    
}

/* Impressão */
@media print and (orientation:landscape) {
    nav ul{
        display:none;
    }
    #galeria {
        display: flex;
        flex-wrap: wrap; /* Permite que os cards "quebrem" para a linha de baixo */
        justify-content: center;
        flex-direction: row; /* Alinha os cards em linha */
        align-items: center;
    }
    .card{
        max-height: 400px;
    }
}
    @media print and (orientation:portrait) {
        nav ul{
            display:none;
        }
        #galeria {
            display: flex;
            flex-wrap: wrap; /* Permite que os cards "quebrem" para a linha de baixo */
            justify-content: center;
            flex-direction: row; /* Alinha os cards em linha */
            align-items: center;
        }
         

}
